.upper_container{
  height: 84px;
  background-color: #7DD9E8;
}

.inner_upper{
  display: block;
  margin: 0px auto;
  width: 937px;
}

.logo_search{
  float: left;
  height: 100%;
}

.logo{
  float: left;
  margin-top: 20px;
  margin-right: 24px;
}

.search{
  float: right;
  margin-top: 40px;
}

.search_box{
  font-family: : IstokWeb;
  float: left;
  margin-right: 7px;
  position: relative;
}

.search_button{
  float: left;
}

input{
  border: none;
  background-color: #CAEFF7;
  height: 19px;
  float: left;
  width: 234px;
  font-size: 11px;
}

input:focus{
  outline: none;
}

.button3{
  background-color: #264F55;
  color: white;
  float: left;
  height: 15px;
  font-size: 9px;
  width: 39px;
  padding-top: 5px;
}

.menu{
  float: right;
  margin-top: 28px;
}

.cross{
  float: left;
  background-color: #CAEFF7;
  font-size: 12px;
  height: 17px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 5px;
  color: #8EA1A5;
}

.cross:hover{
  cursor: pointer;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.space{
  float:right;
  background-color: black;
  width: 10px;
}

.search_icon{
  float: left;
  height: 20px;
  background-color: #CAEFF7;
  padding-top: 1px;
  margin-left: 2px;
  padding-left: 3px;
}

.search_icon:hover{
  cursor: pointer;
}

.user{
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.menuitems{
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.class:hover{
  cursor: pointer;
}

.gray{
  color: gray;
}

.text2{
  float: left;
  width: 140px;
  font-size: 11px;
}

.icon2{
  margin-right: 10px;
  float: right;
}

/*middle container start*/

.middle_container{
  height: 40px;
  background-color: #F5F5F5;
}

.inner_middle{
  display: block;
  width: 937px;
  margin: 0px auto;
}

.horizontal_items{
  float: left;
  margin-right: 31px;
  font-size: 15px;
}

.horizontal_items2{
  margin-left: 31px;
  float: right;
  font-size: 12px;
}

.invite_request{
  float: right;
}

.menu_items{
  padding-top: 11px;
  margin-left: 8px;
}

/*middle container ends*/

/*bottom container starts */

.bottom_container{
  margin-top: 30px;
}

.inner_bottom{
  display: block;
  margin: 0px auto;
  width: 937px;
}

.left_bottom{
  float: left;
  width: 194px;
}

.right_bottom{
  float: right;
  width: 176px;
}

.middle_bottom{
  float: left;
  padding: 0px 22px 0px 27px;
  width: 518px;
}

.heading{
  background-color: #2FC1DA;
  color: white;
  height: 29px;
  padding-left: 12px;
  font-size: 15px;
  padding-top: 13px;
}

.list{
  background-color: #F5F5F5;
  font-size: 12px;
}

.onhover{
  height: 30px;
  padding-left: 12px;
  padding-top: 9px;
  font-size: 11px;
}

.onhover:hover{
  background-color: white;
  cursor: pointer;
}

.onhover2{
  background-color: #F5F5F5;
  height: 238px;
}

/*bottom container ends */

/*mid bottom container*/

.entry_photo{
  float: left;
}

.entry_details{
  float: left;
  margin-left: 9px;
}

.title {
  margin-top: 4px;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.authors{
  margin-top: 5px;
  font-size: 12px;
}

.highlight{
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.source{
  margin-top: 5px;
  font-size: 12px;
}

.blue{
  color: #2FC1DA;
}

.green{
  color: #6F961F;
}

.red{
  color: #D43E1B;
}

span:hover{
  cursor: pointer;
}

ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*inner bottom */
.buttons{
}

.button_block{
  padding-top: 12px;
  height: 57px;
  float: left;
  width: 258px;
  text-align: center;
  background-color: #F5F5F5;
  font-size: 14px;
  margin-top: 9px;
}

.spacing{
  margin-left: 2px;
}

.active{
  height: 28px;
  float: left;
  margin-left: 10px;
}

.inactive{
  float: left;
  margin-left: 10px;
}

.two_buttons{
  font-size: 12px;
  text-align: center;
  margin-top: 14px;
}

.border{
  height: 2px;
  background-color: #2FC1DA;
  margin-top: 79px;
}

.round_button{
  float: left;
}

.button1{
  background-color: #2FC1DA;
  height: 21px;
  float: left;
  width: 86px;
  color: white;
  font-size: 10px;
  padding-top: 7px;
}

.button2{
  background-color: #DDDDDD;
  height: 21px;
  float: left;
  width: 86px;
  font-size: 11px;
  padding-top: 7px;
}

.inactive:hover{
  cursor: pointer;
  background-color: #2FC1DA
}

.icon{
  float: left;
  margin-right: 8px;
}

.text{
  float: left;
}

.entries_border{
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 15px;
}

.entries{
  margin-top: 15px;
}

.entry_text{
  height: 24px;
}

/*bottom*/

.bottom{
  background-color: #727272;
  height: 44px;
  margin-top: 32px;
  width: 100%;
}

.options{
  float: left;
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
}

.options:hover{
  cursor: pointer;;
}


.inner_bottommost{
    display: block;
    margin: 0px auto;
    width: 937px;
}

.bottom_items{
  float: left;
  margin-right: 30px;
}

.bottom_items1{
  float: left;
  margin-right: 30px;
}

.copyright{
  float: right;
  color: white;
  font-size: 11px;
  margin-top: 5px;
}



.hello{
  margin-top: 32px;
}
